@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Oswald:400,600,700);.static-form h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}

.static-form h5 {
  font-family: "Open Sans", sans-serif;
  font-size: .8rem;
  margin-bottom: 2rem;
}

.static-form label {
  font-size: .8rem;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: #444;
}

.static-form .form-control {
  font-size: .8rem;
  font-family: "Open Sans", sans-serif;
  border-radius: 0px;
}

.static-form span {
  font-size: .7rem;
  font-family: "Oswald", sans-serif;
  color: #ad343f;
  font-weight: 600;
}

.static-form .btn-send {
  background-color: #333;
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: .8rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 0px;
  font-weight: 600;
  letter-spacing: 1px;
}

